/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000; /* Black background */
  color: white; /* White text */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #fff; /* White links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #333; /* Dark gray button */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555; /* Slightly lighter gray on hover */
}

button:disabled {
  background-color: #777;
  cursor: not-allowed;
}
pre {
  background-color: #222;
  color: white;
  padding: 10px;
  overflow-x: auto;
  border-radius: 5px;
}

h1,h2,h3{
  color: #fff;
}
